body {
    background-color: #6881A4;
}

.p5Canvas {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p {
    color: #355070;
    font-size: 50px;
    margin-left: 30px;
}